<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbBrandMapper" >

    <!--查询所有品牌-->
    <select id="findAll" resultType="tbBrand">
        select id,name,first_char firstChar from tb_brand
    </select>

    <insert id="insert" parameterType="tbBrand">
        insert into tb_brand values(#{id},#{name},#{firstChar})
    </insert>

    <update id="update" parameterType="tbBrand">
        update tb_brand set name=#{name},first_char=#{firstChar} where id=#{id}
    </update>

    <select id="selectByPrimaryKey" parameterType="long" resultType="tbBrand">
        select id,name,first_char firstChar from tb_brand where id =#{id}
    </select>

    <delete id="deleteBrand" parameterType="long">
        delete from tb_brand where id = #{id}
    </delete>
</mapper>